<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all
        font-family="'Open Sans',sans-serif"
        font-size="16px"
        line-height="1.7"
      ></mj-all>
    </mj-attributes>
  </mj-head>
  <mj-body background-color="#f8f8f8">
    <mj-section background-color="#1976d2">
      <mj-column>
        <mj-image
          width="300px"
          src="https://mafil.ceitec.cz/files/287/thumb/157-logo-mafil-transp2-0x0.png"
        ></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="white">
      <mj-column>
        <mj-text align="center" font-size="14px" color="#888">
          Scroll down for an English version.
        </mj-text>
        <mj-text font-size="28px" font-weight="bold">
          Dobrý den
          {{name}}.
        </mj-text>
        <mj-text>
          {{#if isReminder}}
            Vaše
            <b>možnosť stáhnout si své údaje</b>
            ze studie MAFIL
            <b>brzo vyprší</b>.
          {{/if}}
          {{#unless isReminder}}
            Děkujeme za Vaši účast ve studii laboratoře MAFIL.
          {{/unless}}
          <br />
          Své údaje si můžete stáhnout pomocí následujícího odkazu:
        </mj-text>
        <mj-button
          href="{{loginLink}}"
          background-color="#1976d2"
          border-radius="4px"
          font-weight="bold"
        >Klikněte zde pro přístup ke svým údajům</mj-button>
        <mj-text>
          Nebo navštivte tento odkaz:
          <a style="color: #1976d2" href="{{loginLink}}">{{loginLink}}</a>
        </mj-text>
        <mj-text>
          Jedná se o
          <b>citlivé medicínské údaje</b>, proto tento email nesdílejte.
          <br />
          Platnost odkazu vyprší
          <b>{{expirationDate}}</b>. Údaje jsou z návštěvy dne
          {{visitDate}}.
        </mj-text>
        <mj-text><i>– Tým MAFIL</i></mj-text>
        <mj-divider border-color="#1976d2" padding="40px 0"></mj-divider>
        <mj-text font-size="28px" font-weight="bold">
          Hello
          {{name}}.
        </mj-text>
        <mj-text>
          {{#if isReminder}}
            The
            <b>possibility to download your data</b>
            from the MAFIL study
            <b>will soon expire</b>.
          {{/if}}
          {{#unless isReminder}}
            Thank you for taking part in a study of the MAFIL laboratory.
          {{/unless}}
          <br />
          You can download your data using the following link:
        </mj-text>
        <mj-button
          href="{{loginLink}}"
          background-color="#1976d2"
          border-radius="4px"
          font-weight="bold"
        >Click here to access your data</mj-button>
        <mj-text>
          Or visit this link:
          <a style="color: #1976d2" href="{{loginLink}}">{{loginLink}}</a>
        </mj-text>
        <mj-text>
          The images you can download are
          <b>sensitive medical data</b>. To protect your privacy, we advise you
          not to share this email with anyone.
          <br />
          The login link will expire on
          <b>{{expirationDate}}</b>. The data is from the visit that took place
          on
          {{visitDate}}.
        </mj-text>
        <mj-text><i>– MAFIL team</i></mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text align="center" font-size="14px" color="#888">
          Laboratoř
          <b>MAFIL</b>, Kamenice 753/5, 625 00 Brno, budova E35.
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>